@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

body {
   font-family: "Stack Sans Headline", sans-serif;
    background-color: #f3f4f6;
}
.container {
    max-width: 900px;
}